.top-text-cell,
.bottom-text-cell {
  position: relative;
  left: 250px;
  flex-direction: column;
  width: 50%;
  height: 50%;
}

.em-text, .pw-text {
  color: white;
  position: relative;
  right: 95px;
  top: 8px;
  font-size: 10pt
}


.top-left-logo {
  width: 110px;
  height: 110px;
  display: flex;
  position: fixed;
  top: -22px;
  left: 28px;
}

.top-right-words {
  color: white;
  font-size: 15px;
  margin: 15px;
}

.top-right-container {
  position: fixed;
  top: 4px;
  right: 25px;
  display:flex;
  justify-content: space-evenly;
  flex-direction: row;

}

.question-mark {
  width: 20px;
  height: 20px;
  margin: 15px;
  float: right;
}

.middle-page-content {
  display: flex;
  justify-content: center;
  margin: 80px auto 0 auto;
  width: 50%;
  padding-bottom: 18%;
}


.main-table-header {
  color: white;
  font-size: 24pt;
  display: flex;
  justify-content: center;
  font-weight: 300;
  font-family: Avenir Next, Avenir, Segoe UI, Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
}

body {
  background: rgb(0, 152, 238);
  background-image: linear-gradient(
    180deg,
    rgb(0, 152, 238),
    rgb(54, 101, 225)
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  color: rgba(0, 0, 0, .8);
}

a:link { 
  text-decoration: none; 
} 
a:visited { 
  text-decoration: none; 
} 
a:hover { 
  text-decoration: underline; 
} 
a:active { 
  text-decoration: none; 
}

#log_in:link {
  text-decoration: underline;
}


.top-text-box, .bottom-text-box {
  height: 33px;
  width: 400px;
  position: relative;
  right: 95px
  
}

.log-in-btn {
  width: 409px;
  height: 45px;
  position: relative;
  left: 155px;
  top: 25px;
  color: white;
  background-color: rgb(93, 134, 253);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0px 
}

#forgot_pw:link {
  text-decoration: underline;
}

#forgot_pw {
  color: white;
  display: flex;
  justify-content: center;
  position: relative; 
  top: 60px;
  left: 5px
}

.no-acc {
  color: white;
  display: flex;
  justify-content : center;
  position: relative;
  top: 112px;
  left: 5px
}

#sign-up {
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
  top: 130px;
  left: 7px;
  text-decoration: underline;
}

.btm-links-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
  font-size: 9pt;

}

.btm-links {
  color:white;
}

.btm-page-txt-container {
  display: flex;
  justify-content: center;
  color: grey;
}